* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    color: yellow;
}

.fondo {
    background-image: url(../assets/backgroundpacman.jpg);
    background-size: 100%;
    height: 70vh;
    background-repeat: no-repeat;
}

.pacmanmotion {
    position: relative;
    animation: pacman 15s infinite;

}

@keyframes pacman {
    0%          {top: 25px; left: 0px; rotate: 0deg;}
    5%          {top: 25px; left: 155px; rotate: 0deg;}
    8%          {rotate: 90deg;}
    10%         {top: 75px; left: 155px; rotate: 0deg;}
    20%         {top: 75px; left: 563px; rotate: 0deg;}
    22%, 25%    {rotate: 90deg;}
    26%         {top: 115px; left: 563px; rotate: 90deg;}
    27%, 30%    {rotate: 180deg;}
    31%         {top: 115px; left: 525px;}
    32%, 35%    {rotate: 90deg;}

  }

.centrar {
    display: flex !important;
    justify-content: center !important;
}